// @media (min-width: 1920px) {
//   .container {
//       max-width: 1660px;
//   }
// }


// @media (min-width: 1440px) {
//   .container {
//       max-width: 1380px;
//   }
// }


// @media (min-width: 1024px) {
//   .container {
//       max-width: 964px;
//   }
// }


// @media (min-width: 768px) {
//   .container {
//       max-width: 706px;
//       m0-a
//   }
// }







@media (max-width: 1024px) {
  
  body {
    font-size: 12px;
  }

  h2 {
    font-size: 15px;
  }

  .myPage {
    height: 150vh;
  }

  .p1, .p2, .p3 {
    margin-bottom: 5px;
    line-height: 110%;
  }

  .myPage__container {
    padding: 10px;
    display: flex;
  }

  .container-mobile {
    display: flex;
    gap: 5px;
  }

  .myPage__title {
    text-align: center;
    font-size: 15px;
  }

  .myPage__paragraph {
    text-align: center;
  }

  .myPage__container-2 {
    display: flex;
    padding: 25px;
    border: 2px solid white;
    border-radius: 24px;
  }
}


@media (max-width: 425px) {
  
  body {
    font-size: 12px;
  }

  h2 {
    font-size: 15px;
  }

  .p1, .p2, .p3 {
    margin-bottom: 5px;
    line-height: 110%;
  }

  .myPage__container {
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 5px;
  }

  .myPage__title {
    text-align: center;
    font-size: 15px;
  }

  .myPage__paragraph {
    text-align: center;
  }

  .myPage__container-2 {
    display: flex;
    padding: 25px;
    border: 2px solid white;
    border-radius: 24px;
  }

}



/******* 425 ************/
// @media (max-width: 425px) {
//   body {
//     font-size: 12px;
//   }
//   .section-3-list {
//     padding: 25px 15px;
//     flex-direction: column;
//     align-items: center;
//     gap: 30px;
//   }
//   .section-4-in {
//     margin-bottom: 25px;
//   }
//   .ourWorks {
//     margin-bottom: 10px;
//   }
//   .cards-list {
//     flex-direction: column;
//     margin-bottom: 25px;
//   }
//   .cards-list img {
//     width: 100%;
//     height: 250px;
//     object-fit: cover;
//   }

// @media (orientation: landscape) {
  // Styles for landscape mode.
// }
// @media (orientation: portrait) {
  // Styles for portrait mode.
// }